*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Courier New', Courier, monospace;
  background: rgba(0, 128, 0, 0.379)
}

.input{
  text-align: center;
  margin: 100px;
}

input[type="text"]{
  height: 50px;
  width: 600px;
  background: #e7e7e7b7;
  font-family:'Courier New', Courier, monospace ;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius:  3px; 
  padding: 10px 10px;
}

input[type="submit"]{
  height: 50px;
  width: 100px;
  background: #ffffff;
  font-family:'Courier New', Courier, monospace ;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius:  3px; 
  
}


.display{
  text-align: center;
  width:100%;
  min-width:1000px;
  height: 100px;;
}


.cards{
  border: 1px solid black;
  max-width: 300px;
  margin: 5px;
  display: flexbox;
  grid-row: 2 / span 3;
}

#weathercontainer{
  display: flex;
  flex-direction: row;
  flex: -1;
  order: 2;
}